body{
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}
.header, .footer{
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    margin: 5px;
}

.header{
    width: 300px;
}

.btn{
    width: 100px;
    height: 33px;
    font-size: 18px;
    color: black;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-select{
    color: white;
    background-color: rgb(191, 49, 49);
}

.btn-black{
    color: white;
    background-color: black;
}

.btn-random{
    background-color: rgb(213, 213, 76);
}

.btn-reset{
    background-color: rgb(90, 176, 222);
}

.board{
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

/* .square{
    background-color: rgb(255, 247, 247); 
    height: 5px; 
    /* border: 1px solid black; 
}
.square:hover{
    background-color: red;
}  */
