body{
    background-color: rgb(117, 59, 45);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
}
h1{
    margin: 0;
    text-shadow: 3px 3px 3px black;
}
.header, .footer{
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    margin: 5px;
}

.header{
    width: 300px;
}
.footer{
    width: 400px;
}

.btn{
    width: 100px;
    height: 33px;
    font-size: 18px;
    color: black;
    font-weight: 500;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.btn-select{
    color: white;
    background-color: rgb(191, 49, 49);
}

.btn-black{
    color: white;
    background-color: black;
}

.btn-random{
    background-color: rgb(213, 213, 76);
}

.btn-reset{
    background-color: rgb(90, 176, 222);
}

.board{
    background-color: white;
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(230, 255, 2), 10px 10px 10px rgb(248, 0, 0), 15px 15px 15px rgb(1, 255, 39);
}
